
.cart-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    height: 800px;
    width: 100%;
    border-radius: 5%;

    cursor: pointer;
    

    width: 100%;
    max-width: 350px;
    padding: 16px;

    border: 4px solid #1a1b2e;
    color: #ffffff;
    border-radius: 5px;
}

.cart-book img {
    width: 100%;
}

.cart-book .book-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.cart-book h3,
.cart-book h4 {
    margin: 0;
    text-align: center;
}

.cart-book .book-price {
    font-size: 22px;
}

.cart-book .btn-remove {
    width: 150px;
    height: 40px;

    background-color: #575757;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.cart-book .btn-remove:hover {
    background-color: #ae0202;
}

@media (min-width: 800px) {
    .cart-item {
        flex-direction: row;
        max-width: 1000px;
    }

    .cart-item img {
        width: 150px;
    }
}
