.main-header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    padding-left: 1.5rem;
    position: sticky;
    top: 0;
    background: #1a1b2e;
};

.main-header svg{
    padding-right: 2rem;
}

.main-header h1 {
    margin: 0;

};

.main-header a h1 {
    color: #fff;
}

.main-header h1 a {
    color: #fff;
}





.mr-4{
    margin-right: 4rem;
}









