
.container {
  height: 100vh;

}

.container  h1, h2, h3, h4, h5, h6 {
  color:#fcfcfc;
}
section {
    padding: 40px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.error-page-area h1 {
    font-size: 9vw;
    font-weight: 900;
    line-height: 120px;
    margin-bottom: 30px;
}
.error-page-area h2 {
  font-weight: 600;
  text-transform: capitalize;
}

.error-page-area a {
  margin: 15px 5px 0;
}
.btn-theme.btn-md {
    background: #575757;
    color: #fff;
}

.btn-dark.btn-md {
  background: #575757;
  color: #fff;
}

.error-page-area a.btn {
    padding: 10px 30px;
}