
@media screen and (max-width: 500px) {
     .book-details {
      width: 100%;
      margin-bottom: 40rem;
    }
  }

  .book-details{
    margin-top: 1rem;
    padding: 3px 3rem;
    min-height: 800px;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .main-book{
    width: 700px;
  }

.book-details .book-cover img {
    width: 350px;
    
};


.book-details .book-title-author h3,h4 {
    font-size: 16px;
}


.book-details .book-data-description {
    padding-top: 20px;

    font-size: 18px;
    
}

.book-details .book-data-span {
    margin: 0;

    font-size: 20px;
    
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-top: 50px;
    justify-content: center;
    
    
}

.book-details .add-to-cart-btn {
    width: 200px;
    height: 50px;
   
   padding-left: 0;
   margin: auto;
   margin-top: 40px;

    cursor: pointer;
    border-radius: 2%;

    font-size: 18px;
    font-weight: 400;
    color: #ffff;
    background-color: #575757;
}

.add-to-cart-btn:hover {
  box-shadow: 0 0 5px #ffffff,
  0 0 25px #ffffff,
  0 0 50px #ffffff,
  0 0 100px #ffffff;
}