.catalog-books  {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: calc(100vh - 80px);
    padding: 32px;

    color: #000000;
}

.catalog-books  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    width: 100%;
    min-height: 400px;

    cursor: pointer;
}

.catalog-books h3,
.catalog-books h4 {
    margin: 0;
    text-align: center;
}

.catalog-books img {
    width: 100%;
    max-width: 350px;
    
}


