
@media (max-width: 500px) {
    .books{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
}


.book .book-information  {
    margin-left: 30px;
    margin-right: 30px;
    width: 300px;
    height: 430px;
    margin-top: 1rem;
    color: #fff;
}

.book .book-information:hover{
    border: 2px solid #1a1b2e;
    padding: 9px;
}
.book .book-information img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    border-radius: 5%;
    height: 300px;

    cursor: pointer;
    
}

.book .book-information  h3,
.book .book-information  h4 {
    margin-top: 5px;
    text-align: center;

}

@media (min-width: 1000px) {
    .book .book-information {
        width: 200px;
    }
}
